{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    <div class="form-group mb-2">
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
        <a href="{{ path('app_task_index') }}" class="btn btn-dark">Retour</a>
    </div>
{% endblock %}
