{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<section id="newticket">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-12  order-lg-1 d-flex flex-column  caption">
    <h1>Create new Ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('app_ticket_index') }}">back to list</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
